body {
  background: url('/images/bg.svg') no-repeat center center fixed;
  background-size: cover;
}

.post-block {
  background: white;
  padding: 10px; 
}

.post-body {
  background: white;
  padding: 10px; 
}

/* 减少按钮与自定义内容之间的间距 */
.site-nav {
  margin-bottom: 5px; /* 调整为期望的间距大小 */
}

.custom-index {
  margin-top: 5px; /* 调整为期望的间距大小 */
}

code {
  color: #008B45
  white-space: pre-wrap; /* 允许自动换行并保持空白符 */
  word-break: break-all; /* 可以在单词内换行 */
}

/* 设置所有 Markdown 标题的颜色 */
h3,h4,h5 {
  color: #ff9900; /* 替换为你想要的颜色 */
}

h1 {
  font-weight: bold // 设置为加粗
  letter-spacing: 0.1em // 增加文字间隔，可根据喜好调整
}

/* 设置正文中超链接的颜色和加粗 */
.post-body a {
  color: #1169ee; /* 替换为你想要的颜色 */
  font-weight: bold;
}

@font-face {
  font-family: 'Poetsen One';
  src: url('/fonts/PoetsenOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
